.link {
    padding: 5px;
    width: 55px;
    height:55px;
    border-radius: 50%;
    text-decoration:none;
    margin-right:10px;
    margin-left:4px;
    margin-bottom: -7px;
}

.divNav{
    background-color:rgb(170, 227, 226, .8);
    padding:10px;
    border:5px solid rgb(170, 227, 226);
}
@media screen and (max-width: 700px) {
    .divNav{
        display: flex;
        float:left;
        justify-content: space-between;
        padding: -10px;
    }
  }

.lef{
    float: right;
    margin-right:50px;
}
@media screen and (max-width: 700px) {
    .lef{
        font-size: 13px;
        margin:-10px;        
    }
  }

.BnNav{
    padding:5px;
    border-radius:120px;
    background-color:black;
    color: white;
    font-size:25px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    display:inline;
    box-shadow: 5px 2px 2px black;
    float: left;
    margin: 0px 20px 0px 20px
}
@media screen and (max-width: 700px) {
    .BnNav{
        font-size: 13px;
        margin-right:-2px;
        margin-left: -1px;
    }
  }

.world{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 700px) {
    .world{
        width: 10px;
        height: 10px;
    }
  }