.formus{
    margin:0px 200px 0px 200px;
    display: grid;
}

@media screen and (max-width: 700px) {
    .formus{
margin:auto;
     }
   }

label{
    margin:10px 0px 10px 0px;
    background-color: rgb(84, 255, 203, .9);
    font-size:20px ;
}
@media screen and (max-width: 700px) {
    label{
        font-size:13px ;
        height: auto;
        width: auto;
    }
  }
.create{
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 120px;
    border: 1px solid black;
}

.FormDiv{
background-color: rgb(84, 255, 203, .7);
border-radius:120px;
border: 3px solid rgb(99, 99, 99);
box-shadow: 10px 5px 5px black;
padding:20px;
display:flex;
justify-content: center;
margin: 100px 400px 0px 400px;
}

@media screen and (max-width: 700px) {
    .FormDiv{
        margin: auto;
     }
   }

.pee{
color: white;
font-size: 20px;
font-weight:bold;
background-color:red;
margin: 10px 100px;
font-style: italic;
box-shadow: 5px 2px 2px rgb(99, 99, 99);
border-radius:25px;
}

.BnCheto {
padding:5px;
border-radius:120px;
background-color:black;
color: white;
font-size:20px;
font-family:Verdana,Helvetica;
font-weight:bold;
display:inline;
margin-left:25px;
margin-bottom: -7px;
}

.label2{
    margin:40px 0px 40px 0px;
    background-color: rgb(84, 255, 203, .9);
}

.select12{
    size: 5;
    width: 200px;
    height: 150px;
}

select{
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    select{
        font-size: 13px;
        width: 100px;
        height: 20px;
    }
  }

input{
    width: 250px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;

}

.number{
    width: 70px;
}