.ps{
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgb(217, 172, 245);
    padding: 17px;
    display: inline;
    margin-top: 2px;
    border-radius:90px; 
}

@media screen and (max-width: 700px) {
    .ps{
display: none;
    }
  }

.DivOrder {
background-color : rgb(217, 172, 245, .8);
margin: 10px 400px 5px 400px;
display: flex;
justify-content: space-between;
border-radius:120px;
border: 5px solid rgb(217, 172, 245);
padding: 5px;
height: 40px;
overflow: hidden;
}

@media screen and (max-width: 700px) {
    .DivOrder{
    display: contents;
    }
  }